<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta property="og:title" content="Mi bautizo" />
    <meta property="og:description" content="Te espero el 7 de Abril" />
    <meta property="og:image" itemprop="image" content="https://cdn-icons-png.flaticon.com/512/3485/3485800.png">
</head>
<body>

    <div id="wrapper">
        <img class="page" src="https://firebasestorage.googleapis.com/v0/b/invitaciones-1cb9e.appspot.com/o/page1.svg?alt=media&token=34fe0114-1ee1-42d3-ab24-52ced7cfc5b4" alt="">
        <img class="page" src="https://firebasestorage.googleapis.com/v0/b/invitaciones-1cb9e.appspot.com/o/page2.svg?alt=media&token=ecdbbb46-9d77-40d3-b6fe-181af3b7e57b" alt="">
        <img class="page" src="https://firebasestorage.googleapis.com/v0/b/invitaciones-1cb9e.appspot.com/o/page3.svg?alt=media&token=ce5029a4-5cd6-4da6-8779-c1b084587b9e" alt="">        
    </div>

    <div id="leftPanel">
        <div id="address" class="shortcut">
            <a href="https://maps.app.goo.gl/7dkfoTR8EVZCZzgU6">
                <img src="<%= require('./assets/address.svg') %>" alt="">
            </a>            
        </div>
        <div id="countdown" class="shortcut">
            <a href="" id="countdownRef">
                <img src="<%= require('./assets/countdown.svg') %>" alt="">
            </a>            
        </div>        
        <div id="confirmation" class="shortcut">
            <div id="showConfirmation" class="pulse"></div>
            <a href="" id="confirmationRef">
                <img src="<%= require('./assets/confirmation.svg') %>" alt="">
            </a>
        </div>
    </div>

    <div id="countdownWindow" class="modal">
        <div class="modal-content">
            <span class="closeX">&times;</span>
            <div class="timer">
                <div class="sub_timer">
                    <h1 id="day" class="digit">00</h1>
                    <p class="digit_name">Dias</p>
                </div>
                <div class="sub_timer">
                    <h1 id="hour" class="digit">00</h1>
                    <p class="digit_name">Horas</p>
                </div>
                <div class="sub_timer">
                    <h1 id="min" class="digit">00</h1>
                    <p class="digit_name">Minutos</p>
                </div>
                <div class="sub_timer">
                    <h1 id="sec" class="digit">00</h1>
                    <p class="digit_name">Segundos</p>
                </div>
            </div>
        </div>
    </div>

    <div id="confirmationWindow" class="modal">
        <div class="modal-content">
            <span class="closeX">&times;</span>
            <div class="form">
                <div class="form-group">
                    <label for="nameGuest">Hola:</label>
                    <input type="text" id="nameGuest" name="nameGuest" placeholder="Escribe tu nombre...">
                </div>
                <div class="form-group">
                    <label for="totalGuest">Podras acompañarnos:</label>
                    <input type="radio" name="confirm" value="true" id="yes" checked />
                    <input type="radio" name="confirm" value="false" id="no"/>
                    <div class="switch">
                        <label for="yes">Si</label>
                        <label for="no">No</label>
                        <span></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="totalGuest">Cuantas personas vendrán contigo:</label>
                    <input type="number" id="totalGuest" name="totalGuest">
                </div>
                <button id="saveConfirm">Confirmar</button>
            </div>


        </div>
    </div>

    <div id="uploadBackground">
        <div class="contact-envelope">
            <div class="envelope">
                <div class="envelope-back"></div>
                <div class="message"></div>
                <div class="envelope-front"></div>
            </div>
            <div class="shadow"></div>
        </div>
    </div>
    
</body>
</html>