@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

:root {
  --color-primary: rgb(201, 42, 108);
  --color-primary-a: rgba(201, 42, 108, 0.5);
  --color-secundary: rgb(255, 143, 208);
  --color-secundary-a: rgba(255, 143, 208, 0.3);
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}
#wrapper {
    width: 100%;   
}
.page {
    width: 100%;    
}

/* Left panel */
#leftPanel {
    position: fixed;
    left: 3px; 
    top: 50%;
    transform: translateY(-50%);
    z-index: 9999;
    width: 10vw;
    max-width: 96px;
    min-width: 32px;
    border-radius: 10px;
    background: var(--color-secundary-a);
    backdrop-filter: blur(3px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); 
    overflow: hidden;
    padding: 10px;
}
.shortcut {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 5vh;
    position: relative;
}

/* Countdown */
.timer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.sub_timer{
    width: 15vw;
    max-width: 200px;
    min-width: 70px;
    background: var(--color-secundary-a);
    backdrop-filter: blur(20px);
    border-radius: 20px;
    /* overflow: hidden; */
}
.digit{
    color: #000000;
    font-weight: lighter;
    font-size: 50px;
    text-align: center;
}
.digit_name{
    color: #000;
    /* background: var(--color-secundary-a); */
    text-align: center;
    padding: 0.6rem 0;
    font-size: 15px;
}

/* Modal */
.modal {
    display: none; 
    position: fixed; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background: rgba(255, 255, 255, 0.2);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    z-index: 10000;
}
.modal-content {
    position: relative;
    background-color: var(--color-secundary-a);
    margin: 15% auto; 
    padding: 20px;
    width: 80vw;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}
.closeX {
    position: absolute;
    right: 10px;
    top: -10px;
    color: #4e4e4e;
    float: right;
    font-size: 40px;
    font-weight: bold;
}
.closeX:hover,
.closeX:focus {
    color: rgb(0, 0, 0);
    text-decoration: none;
    cursor: pointer;
}
.title {
  font-size: 30px;
}

/*Loader envelope*/
#uploadBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10001;
    background: var(--color-secundary); /* change */
}
.contact-envelope {
    cursor: pointer;
    position: relative;
    border-radius: 50%;
    background-color: var(--color-primary-a); /* change */
    width:200px;
    height: 200px;
    z-index:-1;
}
.envelope {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width:200px;
    height: 200px;
    animation: bounce 1s ease infinite;
}
.envelope-back {
    position: absolute;
    background-color: #e19605;
    width:110px;
    height: 70px;
    top:80px;
    z-index:1;
}  
.envelope-back:before {
    content:"";
    position: absolute;
    background-color: #e19605;
    border-radius:10px;
    width: 84px;
    height: 84px;
    top:-39px;
    left:13px;
    transform: rotate(-45deg);
}  
.message {
    position: absolute;
    z-index:2;
    background-color: #eae2b7;
    width:90px;
    height: 95px;
}
.message:before {
    content:"";
    position: absolute;
    background-color: #ced4da;
    width: 75px;
    height: 3px;
    left:7.5px;
    top:12px;
    box-shadow: 0 10px #ced4da, 0 20px #ced4da, 0 30px #ced4da, 0 40px #ced4da, 0 50px #ced4da, 0 60px #ced4da, 0 70px #ced4da;
}  
.envelope-front:before, .envelope-front {
    position: absolute;
    width:0;
    height:0;
    border-top: 35px solid transparent;
    border-bottom: 35px solid transparent;
}
.envelope-front {
    border-right: 60px solid #f9c748;
    z-index:3;
    left:95px;
    top:80px;
}
.envelope-front:before {
    content:"";
    border-left: 60px solid #f9c748;
    left:-50px;
    top:-35px;
} 
.envelope-front:after {
    content:"";
    position: absolute;
    width:0;
    height:0;
    border-bottom: 45px solid #fcb933;
    border-left: 55px solid transparent;
    border-right: 55px solid transparent;
    left:-50px;
    top:-10px;
}  
.shadow {
    position: absolute;
    width: 110px;
    height: 10px;
    background-color: rgba(0,0,0,0.4);
    border-radius:50%;
    top:145px;
    left:45px;
    z-index:-2;
    animation: scale 1s linear infinite;
}  
@keyframes bounce {
    0%   { transform: scale(1,1) translateY(0); }
    10%  { transform: scale(1.1,.9) translateY(0); }
    30%  { transform: scale(.9,1.1)   translateY(-55px);}
    50%  { transform: scale(1.05,.95) translateY(0); }
    58%  { transform: scale(1,1) translateY(-7px); }
    65%  { transform: scale(1,1) translateY(0);}
    100% { transform: scale(1,1) translateY(0);}
}  
@keyframes scale {
    0% {transform: scaleX(1);}
    10% {transform: scaleX(1);}
    30% {transform: scaleX(0.5);}
    50% {transform: scaleX(1.1);}
    58% {transform: scaleX(1);}
    75% {transform: scaleX(0.98);}
    100% {transform: scaleX(1);}
}

/* Pulse effect */
.pulse {
    position: absolute;
    margin-left:auto;
    margin-right:auto;
    left:0;
    right:0;
    top: 50%;
    transform: translateY(-50%);
    width: 0px;
    height: 0px;
    border-radius: 10px;
    background: rgba(140, 0, 255, 0);
    -webkit-box-shadow: 0 0 0 0 var(--color-primary);
    box-shadow: 0 0 0 0 var(--color-primary);
    -webkit-animation: pulse 1.25s infinite cubic-bezier(.66, 0, 0, 1);
    animation: pulse 1.25s infinite cubic-bezier(.66, 0, 0, 1);
}
  
@-webkit-keyframes pulse {
    to {
            -webkit-box-shadow: 0 0 0 50px rgba(232, 76, 61, 0);
            box-shadow: 0 0 0 50px rgba(232, 76, 61, 0);
        }
}
@keyframes pulse {
    to {
            -webkit-box-shadow: 0 0 0 50px rgba(232, 76, 61, 0);
            box-shadow: 0 0 0 50px rgba(232, 76, 61, 0);
        }
}



/* Toggle yes or no */
.switch {
    position: relative;
    width: 100%;
    height: 30px;
    text-align: center;
    background: #4cd958;
    transition: all 0.2s ease;
    border-radius: 10px;
  }
  .switch span {
    position: absolute;
    width: 20px;
    height: 4px;
    top: 50%;
    left: 50%;
    margin: -2px 0px 0px -4px;
    background: #fff;
    display: block;
    transform: rotate(-45deg);
    transition: all 0.2s ease;
    border-radius: 2px;
  }
  .switch span:after {
    content: "";
    display: block;
    position: absolute;
    width: 4px;
    height: 12px;
    margin-top: -8px;
    background: #fff;
    transition: all 0.2s ease;
    border-radius: 2px;
  }
  input[type=radio] {
    display: none;
  }
  .switch label {
    cursor: pointer;
    width: 60px;
    line-height: 25px;
    transition: all 0.2s ease;
  }
  label[for=yes] {
    position: absolute;
    font-size: 25px;
    left: 0px;
    height: 20px;
    padding: 2px;
  }
  label[for=no] {
    position: absolute;
    font-size: 25px;
    right: 0px;
    padding: 2px;
  }
  #no:checked ~ .switch {
    background: #ff3b30;
  }
  #no:checked ~ .switch span {
    background: #fff;
    margin-left: -8px;
  }
  #no:checked ~ .switch span:after {
    background: #fff;
    height: 20px;
    margin-top: -8px;
    margin-left: 8px;
  }
  #yes:checked ~ .switch label[for=yes] {
    color: #fff;
  }
  #no:checked ~ .switch label[for=no] {
    color: #fff;
  }


/* Form confirmation */
  .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 500px;
    margin: auto;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  .specialInput{
		width: 100%;
		height: 100%;
		background: none;
		padding-top: 20px;
		border: none;
		outline: 0px;
    font-size: 14px;
	}
	.lblInput{
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		pointer-events: none;
	}
	.lblInput:after{
		content: '';
		position: absolute;
		left: 0;
		bottom: -1px;
		width: 100%;
		height: 100%;
		border-bottom: 2px solid var(--color-primary);
		transition: all 0.3s ease;
	}
	.textInput{
    content: '';
		position: absolute;
		bottom: 5px;
		left: 0;
		transition: all 0.2s ease;
	}
	.specialInput:focus + .lblInput .textInput,.specialInput:valid + .lblInput .textInput{
		transform: translateY(-100%);
		font-size: 14px;
	
	}

  button {
    padding: 10px 20px;
    background-color: var(--color-primary);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  /* Media queries para la responsividad */
  @media (max-width: 600px) {
    form {
      width: 90%;
    }
  }

  /* Notification */
  #notification {
    text-align: center;
    background-color: rgb(255, 78, 78);
  }

  #textCircle {
    position: absolute;
  }

.controlls {
  fill: var(--color-primary);
}